#title{
    background-color: #ff4c68;
}

h1{
    font-size: 3.8rem;
    line-height: 1.5;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}
 .container-fluid{
    padding:3% 15%;
} 
body{
    font-family: "Montserrat";
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size:2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-link{
    font-size: 20px;
}
.nav-item{
    padding-left: 15px;
    padding-right: 15px;
    
}
.navbar-nav{
    margin-right: 30px;
    padding-right: 60px;
}
.div-image{
    width: 60%;
    transform: rotate(25deg);
}
.download-button{
    padding-right: 2rem;
    padding-left: 2rem;
}
.icon{
    height: 40px;
    width: 40px;
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:yellow;
}

h3{
    font-weight: bold;
    font-family: "Montserrat-Bold";
}
 #features{
    padding: 7% 15%;

}
.feature-box
{
    padding: 5%;
}